<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
</head>
<body>
    
    <div class="login_part">

        <h1 class="log">Login</h1>
        <form method="post">
            
            <label for="username">Kullanıcı Adı:</label>
            <input type="text" name="username" required><br>
            <label id="şpw" for="password">Şifre:</label>
            <input id="pw" type="password" name="password" required><br>
            <input id="tuş" type="submit" value="Giriş Yap">
        </form>
    
    </div>

</body>
</html>