.navbar {
  
    height: 80px;
    width: 1200px;
}

.cont-nav {
   position: relative;
 
   width: 192px;
   height: 90px;
   left: 50px;
}

.imgpyser {
    height: 60px;
    
}
#title-img {
    text-decoration: none;
   
    
}
.web-title {
    position: relative;
    left: 150px;
    top: -80px;
    font-size: 30px;
    color: #404143;
    width: 240px;
    
    
}

.categ {
    background-color: #070606; 
    position: relative;
    top: -10px;
    left: -8px;
    width: 1292px;
    height: 40px;
}

.home {
    color: #e6e6e6;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    left: 120px;
    top: 6px;
    font-weight: bold;
}
.newticket {
    color: #e6e6e6;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    left: 180px;
    top: 6px;
    font-weight: bold;
}

.statusticket {
    color: #e6e6e6;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    left: 240px;
    top: 6px;
    font-weight: bold;
}



#ctgr:hover {
 
 text-decoration: underline #ffffff;
 text-underline-position:below;
}


.homeiçeriği {
   
    width: 1200px;
    position: relative;
    top: 50px;
    left: 80px;
    
}

.sol {
    height: 250px;
}
.sağ {
    height: 250px;
}

.footer {
    background-color: #a9a9a9;  
    position: relative;
    top: 100px;
    left: -8px;
    width: 1292px;
    height: 260px;
}

.infooter {
    background-color: #2465e9;
    width: 500px;
    position: relative;
    top: -100px;
    left: 100px;
}

#title {
    position: relative;
    left: 275px;
}



.info {
    background-color: #070606; 
    height: 40px;

}
.text {
  
    width: 400px;
    color: #e6e6e6;
    font-size: 20px;
    position: relative;
    left: 480px;
}
#turkey {
    width: 50px;
    position: relative;
    left: 230px; 
}
#portugal {
    width: 50px;
    position: relative;
    left: 270px;
}
#usa {
    width: 50px;
    position: relative;
    left: 310px;
}

.infomail {
    width: 200px;
    position: relative;
    left: 250px;
    text-align: center;

}
.supportmail {
    width: 200px;
    position: relative;
    left: 250px;
    text-align: center;
}

.link {
    background-color: #2465e9;
    width: 300px;
    position: relative;
    left: 800px;
    top: 50px;
}

#fbk{
  width: 40px;
  
}

#twr {
    width: 40px;
    position: relative;
    left: 20px;
}

#lkn {
    width: 40px;
    position: relative;
    left: 40px;
}

.pyserkare {
    width: 100px;
    position: relative;
    left: 80px;
}

.lisans {
    color: orange;
    background-color: #070606;
    width: 500px;
    font-size: 15px;
    position: relative;
    top: -100px;
}

